{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% if logged_in %}
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
<center>
  <img alt = "false" src ="{% static 'img/false.png'%}">
</center>
{% else %}
<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
<div class="tab-content">
<h1>LOG IN</h1>
{% for message in messages %}
<b style = "color:red;text-align:center" >{{message}}</b>
{% endfor%}
 <form action ="" method = "POST">
         {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="loginName">Username:</label>
            <input  name = "username" id="loginName" class="form-control" required />
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Password:</label>
            <input  name = "password" type="password" id="loginPassword" class="form-control"  required/>
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-dark btn-block mb-4">Sign in</button>
  
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="{% url 'register_user' %}" style ="color:black">Register</a></p>
        </div>
      </form>
    </div>
    
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endif %}
{% endblock content %}