{% extends 'core/base.html' %}
{% load static %}

<!-- Start File Content -->
{% block content %}

<div class = "row">
    <!--product card -->
    <div class = "col-lg-12">
        <h3 style ="float:right;display:inline-block">{{product.price|floatformat:"2"}} $</h3>    
        {% if product.image %}
        <img class ="detailimage" src = "{{product.image.url}}">
        {% else %}
        <img class ="detailimage" src = "{% static 'img/placeholder.jpg' %}">
        {% endif %}

        <div class = "box-element product">
            <div class = "row">
                <div class ="col-5">
                    <h6><strong>Product:  {{product.name}}    </strong></h6>
                </div>
                {% if request.user == product.owner %}
                <div class ="col-3">
                     <a style ="display:inline-block;float:right" href = "{% url 'update_product' product.id %}"><button class = "btn btn-dark">Update</button></a>
                </div>    
                <div class ="col-1">
                     <a style ="display:inline-block;float:right" href = "{% url 'delete_product' product.id %}" id ="product_delete"><button class = "btn btn-dark" id = "delete_product">Delete</button></a>
                </div>    
                {% endif %}
            </div>         


    </div>
    <div class = "box-element bg-secondary">
        <div class = "row">
            <div class = "col-lg-5">
               <strong>INFO</strong></br><hr>
               <p><strong>About:</strong>{{product.about|safe|slice:":20"}}...</p>
               {% for tag in product.tag.all %}
               <p><strong>Tag:</strong>#{{tag}}</p>
               {% endfor %}
               <p><strong>Owner:</strong>{{product.owner|title}}</p>
               <p><strong>Category:</strong>{{product.category}}</p>
               <p><strong>Status:</strong>{{product.status}}</p>
            </div>
            
            <div class ="col-lg-7">
                <strong>Comments</strong></br>
                <small>Add one, <a href = "{% url 'create_comment' product.id %}" style = "color:black">click here</a></small>
                <hr>
                {% if comment %}
                <small><strong>Title: </strong>{{comment.title}}                      
                    {% if request.user == comment.owner or request.user == product.owner or request.user.is_superuser %}
                    <a href  = "{% url 'delete_comment' product.id comment.id %}" style = "color:black"> Delete </a>
                    {% endif %}
                </small>
                <p>{{comment.body|safe}}</p>
                <small><strong>Owner:  </strong>{{comment.owner|title}}</small>
                <small><strong>   Date added  </strong>{{comment.date_added.day}}.{{comment.date_added.month}}.{{comment.date_added.year}}.   {{comment.date_added.hour}}:{{comment.date_added.minute}}</small><hr>
                <a href = "{% url 'comment_list' product.id %}">click here for more</a>
                {% endif %}
            </div>
                        
        </div>
                    
  </div>

<script type = "text/javascript">
    var deleteProduct = document.getElementById("delete_product")
    if (deleteProduct){
    deleteProduct.addEventListener("click",  function(){
      let del =   confirm("Press OK  if you want to delete {{product.name|title}}")
      if (del == false){
        console.log(del)
       document.getElementById("product_delete").removeAttribute("href") 
    } else {
        document.getElementById("product_delete").setAttribute("href","{% url 'delete_product' product.id %}") 
        
    }
}
)}
</script>

                    
{% endblock content %}
<!-- End File Content -->